/*
#000000
#d0021b
#ffffff
*/

.Siste-fra-de-kongeli {
  width: 199px;
  height: 22px;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.Line-Copy-7 {
  width: 48px;
  height: 1px;
  border: solid 2px #09b4cd;
}

.Bitmap {
  width: 150px;
  height: 200px;
}

.Bitmap {
  width: 55px;
  height: 200px;
}


.Arrow-right---simple-line-icons {
  width: 24px;
  height: 25px;
  opacity: 0.67;
  font-family: simple-line-icons;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.storbritania {
  width: 84px;
  height: 12px;
  font-family: Lato;
  font-size: 10px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #d0021b;
}

.Japan {
  width: 36px;
  height: 12px;
  font-family: Lato;
  font-size: 10px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #d0021b;
}
.Kronprinsparet {
  width: 55px;
  height: 12px;
  font-family: Lato;
  font-size: 10px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #d0021b;
}

.Nektet-adgang-til-Me {
  width: 146px;
  height: 49px;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.--I-dag-forlater-jeg {
  width: 151px;
  height: 49px;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.Hele-salen-klappet-f {
  width: 55px;
  height: 49px;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
